body{
	background: #ebebeb;
}
.navbar-header i .icon{
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar .nav{
	margin-top: 6px;
	text-align: center;
}
.navbar .nav li{
	display: inline-block;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.navbar-default{
	background: #fff;
	border-radius: 0;
}

.navbar-default .nav .active a{
	background-color: #fff;
	color: #8C8C8C;
	border-bottom: 2px solid #e67e22;
}
.navbar-default .nav a{
	color: #8C8C8C;
}
@media (max-width: 768px){
  .navbar .nav li{
    display: block;
    text-align: left;
  }
}
@media (min-width: 767px){
  .container-fluid i{
    display: none;
  }
}
/*.collapsed{
	border: 0;
}*/

/*.navbar-toggle{
	margin:8px 50%;
}*/
p small{
	color: #959595;
}
p small span{
	color: #e67e22;
}
.panel{
	border-radius: 0;
	border: 0;
}
.fs{
	font-size: 18px;
	line-height: 27px;
	margin-top: 24px;
}
.panel{
	border: 0;
}
.panel-body{
	margin: 20px 28px;
}
.panel-body .list{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 30px;
}
.word img{
	padding-top: 30px;
	padding-bottom: 30px;
}
.panel-body .btn{
	border: 0;
	border-radius: 0;
	background: #e67e22;
	color: #fff;
	font-size: 14px;
	padding: 12px 14px;
}
.panel-body .xz{
	
	width: 100%;
}
.pagination li a{
	border: 1px;
	background: #e67e22;
	color: #fff;
	margin-right: 7px;
}
.hidden-xs .panel h4{
	border-bottom: 1px solid #ebebeb;

}
.hidden-xs .panel h4 span{
	display: block;
	width: 90px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e67e22;

}
.hidden-xs .panel p{
	line-height: 35px;
}
.hidden-xs .panel .wd{
	color: #e67e22;
	background: url(../img/A_lg_04.jpg)no-repeat left center;
	padding-left: 20px;
}
.panel-body .show a{
	display: inline-block;
	border: 1px solid #ebebeb;
	color: #959595;
	padding: 7px;
	margin-right: 7px;
	margin-top: 7px;
}
.foot .container-fluid{
	background: #202020;
}
.foot .container-fluid .panel{
	background: none;
}
.foot .container-fluid .panel .show a{
	border: 1px solid #303030;
}
.foot .panel h4{
	border-bottom: 1px solid #303030;

}
.foot .panel h4 span{
	color: #fff;
	display: block;
	width: 90px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e67e22;

}

.foot .f-list{
	border-bottom: 1px dashed #303030;
}
.foot .f-list p{
	color: #959595;
}
.foot .f-list p span{
	color: #505045;
}
.foot .a{
	color: #959595;
	line-height: 56px;
}
.footer{
	height: 80px;
	line-height: 80px;
	background: #111111;
	color: #555555;
}
